.dice rect {
    fill: rgb(89, 89, 255);
}

.dice .dot{
    fill: white;
    transition: all 0.3s;
    transform-origin: center;
}

.dice:hover .dot{
    /* transform: scale(1.1);
    fill:rgb(161, 161, 202) */
}

.dice .dots {
    transition: all 0.3s;
    transform-origin: 100px 100px;
}

.dice:hover .dots {
    transform:rotate(2turn) scale(1.1);
}

.dup-bubbles {
    transform: rotate(45deg);
    transform-origin: center;
}

.bubble {
    fill: black;
}